@if(mensajeEliminado!==""){
    <div class="alert alert-success text-center">
        {{mensajeEliminado}}
    </div>
}

@if (doctores.length>0){
<div class="table-responsive t-4 -50 mx-auto big-light border p-3">
    <table class="table table-bordered table-hover align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th>Foto</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @for (doc of doctores; track doc.id) {
             <tr>
                <td>
                    <img [src]="doc.foto" alt="foto no encontrada" class="rounded-circle" style="width: 60px; height: 60px; object-fit: cover;">
                </td>
                <td>
                    {{doc.id}}
                </td>
                <td>
                    {{doc.nombre}}
                </td>
                <td>
                    <button (click)="elinimarDoctor(doc.id)" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}@else{
    <div class="alert alert-info t-4">No existen Doctores</div>

}