<div class="menu">
<div class="container mt-4">
    <h3>Agregar Doctores</h3>

    <form #form="ngForm" (ngSubmit)="guardar()">
        <div class="mb-3">
            <label>ID</label>
            <input type="number" class="form-control"  [(ngModel)]="doctor.id" name="id" required>
        </div>
        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="doctor.nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label>Edad</label>
            <input type="number" class="form-control" [(ngModel)]="doctor.edad" name="edad" required>
        </div>
        <div class="mb-3">
            <label>Sueldo</label>
            <input type="sueldo" class="form-control" [(ngModel)]="doctor.sueldo" name="sueldo" required>
        </div>
        <div class="mb-3">
            <label>Antiguedad</label>
            <input type="number" class="form-control" [(ngModel)]="doctor.antiguedad" name="antiguedad" required>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" [(ngModel)]="esFemenino" name="esFemenino" id="esFemenino">
            <label class="form-check-label" for="esFemenino">¿Es Femenino?</label>
        </div>
        <div class="mb-3">
            <label>Foto</label>
            <button type="button" class="btn btn-secondary" (click)="asignarFotoAleatoria()">Asignar foto aleatoria</button>
            @if(doctor.foto){
                <div class="mt-2">
                    <img [src]="doctor.foto" class="img-thumbnail" width="150">
                </div>
            }
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
    </form>
</div>
</div>

<div>
    {{mensajeExito}}
</div>